dist/
build/
__pycache__/
.env
.DS_Store
*.spec

build_env/
Output/
build/
dist/
__pycache__/
*.db
*.pyc
*.spec

uv.zip
tesseract/
upx-4.2.4-win64/
credentials*.json
token.json
serviceAccountKey.json
